.horizontal-nav {
  display: flex;
  background-color: white;
  padding: 0 0;
  margin-bottom: 14px;
  justify-content: center;

  .nav-item {
    padding: 18px 30px;
    text-decoration: none;
    color: #555;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;

    &:hover {
      color: #0F49BD;
      border-bottom-color: #0F49BD;
      cursor: pointer;
    }

    &.active {
      color: #0F49BD;
      border-bottom-color: #0F49BD;
    }
  }
}
