<div class="container my-5">
  <div class="row">
      <div class="col-md-12">
          <h3 class="mb-4">{{ 'policy.institutional' | translate }}</h3>

          <h4 class="mb-4">{{ 'chapter.1.competence' | translate }}</h4>

          <p class="mb-4">{{ 'article.1' | translate }}</p>
          <p class="mb-4">{{ 'definitions.scientific.production' | translate }}</p>
          <p class="mb-4">{{ 'definitions.open.science' | translate }}</p>
          <p class="mb-4">{{ 'definitions.self.archiving' | translate }}</p>
          <p class="mb-4">{{ 'definitions.research.data.deposit' | translate }}</p>

          <h5 class="mb-4">{{ 'chapter.2.objectives' | translate }}</h5>
          <ul>
              <li>{{ 'article.2' | translate }}</li>
              <li>{{ 'article.3' | translate }}</li>
              <li>{{ 'article.3.purpose.1' | translate }}</li>
              <li>{{ 'article.3.purpose.2' | translate }}</li>
              <li>{{ 'article.3.purpose.3' | translate }}</li>
              <li>{{ 'article.3.purpose.4' | translate }}</li>
          </ul>

          <h4 class="mb-4">{{ 'chapter.3.legal.foundations' | translate }}</h4>

          <p class="mb-4">{{ 'article.4.legal.framework' | translate }}</p>
          <ul>
              <li>{{ 'law.9610.1998' | translate }}</li>
              <li>{{ 'law.13709.2018' | translate }}</li>
              <li>{{ 'law.8777.2016' | translate }}</li>
              <li>{{ 'law.10973.2004' | translate }}</li>
              <li>{{ 'law.12527.2011' | translate }}</li>
          </ul>

          <h4 class="mb-4">{{ 'chapter.4.deposit' | translate }}</h4>

          <p class="mb-4">{{ 'article.5.self.archiving' | translate }}</p>
          <ul>
              <li>{{ 'article.5.paragraph.1' | translate }}</li>
              <li>{{ 'article.5.paragraph.2' | translate }}</li>
              <li>{{ 'article.5.paragraph.3' | translate }}</li>
          </ul>

          <p class="mb-4">{{ 'article.6' | translate }}</p>
          <p class="mb-4">{{ 'article.6.unique.paragraph' | translate }}</p>
          <p class="mb-4">{{ 'article.7' | translate }}</p>
          <p class="mb-4">{{ 'article.8' | translate }}</p>

          <h4 class="mb-4">{{ 'chapter.5.withdrawal.edition' | translate }}</h4>
          <p class="mb-4">{{ 'article.9' | translate }}</p>

          <h4 class="mb-4">{{ 'chapter.6.rights.usage' | translate }}</h4>
          <p class="mb-4">{{ 'article.10' | translate }}</p>
          <ul>
              <li>{{ 'article.10.paragraph.1' | translate }}</li>
              <li>{{ 'article.10.paragraph.2' | translate }}</li>
              <li>{{ 'article.10.paragraph.3' | translate }}</li>
              <li>{{ 'article.10.paragraph.4' | translate }}</li>
          </ul>

          <p class="mb-4">{{ 'article.11' | translate }}</p>
          <p class="mb-4">{{ 'article.12' | translate }}</p>
      </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-4">{{ 'chapter.7.document.classification' | translate }}</h4>
      <p class="mb-4">{{ 'article.13' | translate }}</p>
      <ul>
        <li>{{ 'article.13.item.I' | translate }}</li>
        <li>{{ 'article.13.item.II' | translate }}</li>
        <li>{{ 'article.13.item.III' | translate }}</li>
      </ul>

      <h4 class="mb-4">{{ 'chapter.8.target.audience.benefits' | translate }}</h4>
      <p class="mb-4">{{ 'article.14' | translate }}</p>
      <ul>
        <li>{{ 'article.14.item.I' | translate }}</li>
        <li>{{ 'article.14.item.II' | translate }}</li>
        <li>{{ 'article.14.item.III' | translate }}</li>
      </ul>

      <h4 class="mb-4">{{ 'chapter.9.preservation' | translate }}</h4>
      <p class="mb-4">{{ 'article.15' | translate }}</p>

      <h4 class="mb-4">{{ 'chapter.10.technological.infrastructure' | translate }}</h4>
      <p class="mb-4">{{ 'article.16' | translate }}</p>
      <p class="mb-4">{{ 'article.16.paragraph.1' | translate }}</p>

      <p class="mb-4">{{ 'article.17' | translate }}</p>

      <h4 class="mb-4">{{ 'chapter.11.interoperability' | translate }}</h4>
      <p class="mb-4">{{ 'article.18' | translate }}</p>
      <ul>
        <li>{{ 'article.18.paragraph.1' | translate }}</li>
        <li>{{ 'article.18.paragraph.2' | translate }}</li>
        <li>{{ 'article.18.paragraph.3' | translate }}</li>
      </ul>

      <h4 class="mb-4">{{ 'chapter.12.responsibilities' | translate }}</h4>
      <p class="mb-4">{{ 'article.19' | translate }}</p>
      <p class="mb-4">{{ 'article.20' | translate }}</p>
      <p class="mb-4">{{ 'article.21' | translate }}</p>

      <h4 class="mb-4">{{ 'chapter.13.validity.updating' | translate }}</h4>
      <p class="mb-4">{{ 'article.22' | translate }}</p>
      <p class="mb-4">{{ 'article.23' | translate }}</p>
    </div>
  </div>
</div>
