<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-4">{{ 'repository_policy.title' | translate }}</h2>
      <p [innerHTML]="'repository_policy.mission' | translate"></p>

      <p>
        {{ 'repository_policy.principles_title' | translate }}
      </p>
      <ul>
        <li [innerHTML]="'repository_policy.pillars.open_access' | translate"></li>
        <li [innerHTML]="'repository_policy.pillars.preservation' | translate"></li>
        <li [innerHTML]="'repository_policy.pillars.inclusion' | translate"></li>
        <li [innerHTML]="'repository_policy.pillars.quality' | translate"></li>
      </ul>
      <p [innerHTML]="'repository_policy.supervision' | translate"></p>
    </div>
  </div>

  <hr class="my-5" />

  <div class="row">
    <div class="col-md-12">
      <h3 class="mb-4">{{ 'copyright.title' | translate }}</h3>
      <p [innerHTML]="'copyright.content' | translate"></p>
      <p [innerHTML]="'copyright.license' | translate"></p>
    </div>
  </div>
</div>