<div class="container">
  <div class="card-custom" *ngFor="let item of objectEntries(quantidades)" (click)="redirect(item[0])">
    <div class="icon">
      <img [src]="icones[item[0]] ?? iconePadrao" />
    </div>
    <div class="group">
      <div class="tit">
        <p class="text-2">{{item[0] | translate}}</p>
      </div>
      <div class="valores">
        <p class="text-3">{{item[1]}} • {{ (item[1] === 1 ? "item-published" : "items-published") | translate }}</p>
      </div>
    </div>
  </div>
</div>


