<!-- <div class="container">
  <div class="partners">
    <h2>Conheça o parceiro do Miguilim</h2>
    <a href="https://manuelzao.ibict.br/" target="_blank">
      <img src="assets/deposita/images/manuelzao 1.svg" alt="">
    </a>
  </div>
  <div class="see-also">
    <h2>Veja também</h2>
    <div class="imgs">

      <a href="https://diadorim.ibict.br/">
      <img src="assets/deposita/images/diadorim_color 1.svg" alt="">
      </a>

      <a href="https://www.lareferencia.info/pt/">
      <img src="assets/deposita/images/laReferencia.svg" alt="">
      </a>

      <a href="https://www.rcaap.pt/">
      <img src="assets/deposita/images/rcaap.svg" alt="">
      </a>

      <a href="https://latindex.org/latindex/">
      <img src="assets/deposita/images/latindex_color 1.svg" alt="">
      </a>

      <a href="https://www.scielo.br/">
      <img src="assets/deposita/images/logo-scielo-svg 1.svg" alt="">
      </a>

    </div>
  </div>
</div> -->
