h2 {
  color: #0F49BD;
}

.listable-object-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

:host ::ng-deep ds-item-search-result-list-element {
  .item-container {
    background-color: #F6F7F7 !important;
    padding: 0 !important;
  }

  .row {
    background-color: #F6F7F7 !important;
    padding: 1rem !important;
    border-radius: 2rem;
  }
}

@media (max-width: 768px) {
  .listable-object-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start; 
    gap: 1rem; 
    padding: 5px;
  }

  .row {
    background-color: #F6F7F7 !important;
    padding: 0.5rem !important;
    border-radius: 1rem; 
  }

  :host ::ng-deep ds-item-search-result-list-element .item-container {
    background-color: #F6F7F7 !important;
    padding: 0.5rem !important; 
  }

  h2 {
    font-size: 24px; 
  }
}
