<div class="container">
  <ds-themed-home-news></ds-themed-home-news>
  <ng-container *ngIf="(site$ | async) as site">
    <ds-view-tracker [object]="site"></ds-view-tracker>
  </ng-container>
  <ds-themed-search-form [large]="true" [inPlaceSearch]="false" [searchPlaceholder]="'Pesquisar por Artigos, livros ....'"></ds-themed-search-form>
  <!-- <ds-themed-top-level-community-list></ds-themed-top-level-community-list>
  <ds-recent-item-list *ngIf="recentSubmissionspageSize>0"></ds-recent-item-list> -->

  <div class="random-highlights">
    <img class="img-fluid-1" src="assets/deposita/images/random-line-left.svg">
    <a [routerLink]="[link]">
        <div class="random-card">
            <span class="random-text">Destaque randômico</span>
            <ng-container *ngIf="title && description">
                <span class="random-title" [textContent]="title"></span>
                <span class="random-description" [textContent]="description"></span>
            </ng-container>
            <span *ngIf="!(title && description)" class="loading-text">Carregando...</span>
        </div>
    </a>
    <img class="img-fluid-2" src="assets/deposita/images/random-line-right.svg">
  </div>

  <div class="itens-box">
    <ds-itens-card></ds-itens-card>
  </div>
</div>
