:host {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    gap: 1rem;
  }

  .random-highlights {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 26rem;
    top: 7rem;
    width: 1980px;
    height: auto;
  }

  .img-fluid-1 {
    width: 36rem;
    height: 20rem;
  }

  .img-fluid-2 {
    width: 36rem;
    height: 30rem;
  }

  .random-card {
    display: flex;
    flex-direction: column;
    width: 820px;
    height: fit-content;
    padding: 32px 40px;
    margin: 2px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 0px 54px rgba(0.051, 0.244, 0.629, 0.16);
    overflow: hidden;
  }

  .random-text, .random-title, .random-description, .loading-text {
    color: rgba(44, 50, 55, 1);
    font-family: Open Sans;
    opacity: 1;
    text-align: left;
  }

  .random-text {
    width: 269px;
    font-weight: 600;
    font-size: 16px;
  }

  .random-title {
    width: 658px;
    color: rgba(15, 73, 188, 1);
    font-weight: bold;
    font-size: 32px;
  }

  .random-description {
    width: 658px;
    font-weight: 400;
    font-size: 24px;
  }

  .loading-text {
    width: 100%;
    height: 17rem;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    top: 7rem;
    position: relative;
  }

  .itens-box {
    position: relative;
    max-width: 100rem;
    width: 100rem;
    right: 15rem;
    margin-top: 9rem;
  }
}

:host ::ng-deep .search-form {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 60px #074E8E33;
  background-color: #fff;
  padding: 10px;
  z-index: 1000;
  bottom: 0 !important;
  width: 130%;
  max-width: 1440px;
  margin: 0 auto;
  right: 10rem;
}

:host ::ng-deep ds-recent-item-list .btn-primary {
  background-color: #0F49BD;
  border-color: #0F49BD;

  &:hover {
    background-color: #4178e5;
    border-color: #0F49BD;
  }
}

@media (max-width: 768px) {
  :host {
    .random-highlights {
      flex-direction: column;
      align-items: center;
      right: 0;
      top: 2rem;
      width: 100%;
      justify-content: center;  
      gap: 1rem;               
      padding: 1rem;           
    }

    .img-fluid-1, .img-fluid-2 {
      width: 80%;
      height: auto;
    }

    .random-card {
      width: 90%;
      padding: 20px;
      text-align: center;
      justify-content: center; 
      margin: 0 auto;          
    }

    .random-text, .random-title, .random-description, .loading-text {
      width: 100%;
      text-align: center;
    }

    .itens-box {
      width: 100%;
      right: 0;
      margin-top: 2rem;
    }
  }

  :host ::ng-deep .search-form {
   height: 4.5rem;
  }

  :host ::ng-deep .input-group {
    flex-wrap: nowrap;
  } 

  :host ::ng-deep .input-advanced-search-link[_ngcontent-dspace-angular-c372]{
    top: 125%;
    right: 20%;
}
}