<div class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <h3 class="mb-4">{{ 'deposit.guide.title' | translate }}</h3>
  
        <p class="mb-4">{{ 'deposit.greeting' | translate }}</p>
        <p class="mb-4">{{ 'deposit.introduction' | translate }}</p>
        <p class="mb-4">{{ 'deposit.update' | translate }}</p>
  
        <h4 class="mb-4">{{ 'deposit.criteria.introduction' | translate }}</h4>
        <ul>
          <li>{{ 'deposit.criteria.1' | translate }}</li>
          <li>{{ 'deposit.criteria.2' | translate }}</li>
          <li>{{ 'deposit.criteria.3' | translate }}</li>
          <li>
            {{ 'deposit.criteria.4' | translate }}
            <ul>
              <li>{{ 'deposit.criteria.4.a' | translate }}</li>
              <li>{{ 'deposit.criteria.4.b' | translate }}</li>
              <li>{{ 'deposit.criteria.4.c' | translate }}</li>
            </ul>
          </li>
        </ul>
  
        <p class="mb-4">{{ 'deposit.noncompliance' | translate }}</p>
        <p class="mb-4">{{ 'deposit.resubmission' | translate }}</p>
        <p class="mb-4">{{ 'deposit.suggestion' | translate }}</p>
        <p class="mb-4">{{ 'deposit.review' | translate }}</p>
        <p class="mb-4">{{ 'deposit.contact' | translate }}</p>
        <p class="mb-4">{{ 'deposit.doubts' | translate }}</p>
        <p>{{ 'deposit.closure' | translate }}</p>
      </div>
    </div>
  </div>
  