@include media-breakpoint-down(md) {
  .container {
    width: 100%;
    max-width: none;
  }
}

:host ::ng-deep .search-form {
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
}

::ng-deep .search-controls {
    margin-bottom: var(--bs-spacer);
}

.container {
  position: relative;
  left: 2rem;
}

.filter-title {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
}

.search-filter {
  .form-control {
    background-color: white; /* Define a cor de fundo */
    border: 1px solid #E6E6E6; /* Adiciona uma borda */
    border-radius: 4px; /* Arredonda as bordas */
    padding: 5px 12px; /* Adiciona espaçamento interno */
    width: 51.7rem; /* Define a largura */
    font-size: 16px; /* Define o tamanho da fonte */
    outline: none; /* Remove o contorno ao focar */
    margin-right: 10px; /* Define a margem direita */

    &:hover {
      cursor: pointer; /* Muda o cursor ao passar por cima */
    }

    &:focus {
      border-color: #80bdff; /* Muda a cor da borda ao focar */
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Adiciona um efeito de destaque */
    }

    /* Adiciona a seta personalizada */
    background-image: url('/src/themes/deposita/assets/images/down-arrow-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-position: right 10px center; /* Posiciona a seta à direita com um espaçamento */
    background-size: 14px; /* Define o tamanho da imagem da seta */
    -webkit-appearance: none; /* Remove a seta padrão do Safari */
    -moz-appearance: none; /* Remove a seta padrão do Firefox */
    appearance: none; /* Remove a seta padrão de outros navegadores */
  }
}

.search-filter {
  position: relative;
  display: inline-block;
}

.form-control {
  padding-right: 30px; // Ajuste conforme necessário para dar espaço para a seta
}

.arrow-icon {
  position: absolute;
  top: 50%;
  right: 20px; // Ajuste conforme necessário para a posição desejada
  transform: translateY(-50%);
  width: 12px; // Ajuste conforme necessário
  height: auto; // Ajuste conforme necessário
}

