@include media-breakpoint-down(md) {
  .container {
    width: 100%;
    max-width: none;
  }
}

:host ::ng-deep .search-form {
  right: 2rem !important;
  bottom: 0 !important;
  width: 136% !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
  border: 0;

  .form-control {
    border: 0 solid #999999 !important;
    border-radius: 0 !important;
  }

  .input-box {
    width: 67% !important;
    border-radius: 0 !important;
    border: 1px solid #999999 !important;
    margin-right: 0 !important;
  }

  .input-group-prepend {

    .btn-outline-secondary {
      color: #6A6A6A;
      border-color: #999999;
    }

    .btn-outline-secondary:hover {
      color: #FEFEFE;
      background-color: #0F49BD;
      border-color: #0F49BD;
    }

    .btn-outline-secondary:focus {
      color: #FEFEFE;
      background-color: #0F49BD;
      border-color: #0F49BD;
    }

    .btn-outline-secondary:active {
      color: #FEFEFE;
      background-color: #0F49BD;
      border-color: #0F49BD;
    }

    &:hover {
      color: #6A6A6A;
      border-color: #999999;
    }
  }

  .input-group-append {

    .btn-primary {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }

  ds-view-mode-switch {
    margin-left: 1rem !important;

    .btn {
      padding: 0.460rem 0.80rem;
    }

    .btn-secondary {
      background-color: #FEFEFE;
      border-color: #0F49BD;

      &:hover {
        background-color: #0F49BD;
        border-color: #0F49BD;

        .fas {
          color: #FEFEFE;
        }
      }
    }

    .btn-secondary:not(:disabled):not(.disabled).active {
      background-color: #0F49BD;
      border-color: #0F49BD;

      .fas {
        color: #FEFEFE;
      }
    }
  }

}

:host ::ng-deep ds-pagination {

  .container {
    left: 16.5rem !important;
  }
}

:host ::ng-deep ds-item-search-result-list-element .row {
  background-color: #FEFEFE !important;
  width: 100% !important;
  height: 16rem;

  .item-container {
    padding: 10px 10px 24px 10px !important;
    border-radius: 8px !important;
    margin-bottom: 0 !important;
    height: 16rem;
    width: 60rem !important;
  }

  ds-thumbnail {
    position: relative;
    top: 3rem;
  }
}

:host ::ng-deep #search-content {
  padding: 0 !important;
}

::ng-deep .search-controls {
    margin-bottom: var(--bs-spacer);
}

.container {
  position: relative;
  left: 2rem;
}

