<div class="text-justify">
<h1>{{ 'info.end-user-agreement.head' | translate }}</h1>
<p><em>{{ 'enduser.lastmodify' | translate}}</em></p>

<h2>{{ 'enduser.agreement' | translate}}</h2>
<p>{{ 'enduser.termsofuse' | translate}}</p>
<p>{{ 'enduser.supplementalterms' | translate}}</p>
<p>{{ 'enduser.informationprovided' | translate}}</p>

<h2>{{ 'enduser.intellectualproperty' | translate}}</h2>
<p>{{ 'enduser.unless' | translate}}</p>
<p>{{ 'enduser.contentandmark' | translate}}</p>
<p>{{ 'enduser.informationprovied' | translate}}</p>

<h2>{{ 'enduser.userrepresentations' | translate}}</h2>
<p>{{ 'enduser.byusingthesite' | translate}}</p>
<p>{{ 'enduser.provideanyinformation' | translate}}</p>

<h2>{{ 'enduser.userregistration' | translate}}</h2>
<p>{{ 'enduser.requiredtoregister' | translate}}</p>

<h2>{{ 'enduser.prohibedactivities' | translate}}</h2>
<p>{{ 'enduser.youmaynotacess' | translate}}</p>
<p>{{ 'enduser.asuserofthesite' | translate}}</p>
<ul>
 <li>{{ 'enduser.li1' | translate}}</li>
 <li>{{ 'enduser.li2' | translate}}</li>
 <li>{{ 'enduser.li3' | translate}}</li>
 <li>{{ 'enduser.li4' | translate}}</li>
 <li>{{ 'enduser.li5' | translate}}</li>
 <li>{{ 'enduser.li6' | translate}}</li>
 <li>{{ 'enduser.li7' | translate}}</li>
 <li>{{ 'enduser.li8' | translate}}</li>
 <li>{{ 'enduser.li9' | translate}}</li>
 <li>{{ 'enduser.li10' | translate}}</li>
 <li>{{ 'enduser.li11' | translate}}</li>
 <li>{{ 'enduser.li12' | translate}}</li>
 <li>{{ 'enduser.li13' | translate}}</li>
 <li>{{ 'enduser.li14' | translate}}</li>
 <li>{{ 'enduser.li15' | translate}}</li>
 <li>{{ 'enduser.li16' | translate}}</li>
 <li>{{ 'enduser.li17' | translate}}</li>
</ul>

<h2>{{ 'enduser.usergeneratedcontributions' | translate}}</h2>
<p>{{ 'enduser.sitemayprovide' | translate}}</p>
<ul>
  <li>{{ 'enduser.li18' | translate}}</li>
  <li>{{ 'enduser.li19' | translate}}</li>
  <li>{{ 'enduser.li20' | translate}}</li>
  <li>{{ 'enduser.li21' | translate}}</li>
  <li>{{ 'enduser.li22' | translate}}</li>
  <li>{{ 'enduser.li23' | translate}}</li>
  <li>{{ 'enduser.li24' | translate}}</li>
  <li>{{ 'enduser.li25' | translate}}</li>
  <li>{{ 'enduser.li26' | translate}}</li>
  <li>{{ 'enduser.li27' | translate}}</li>
  <li>{{ 'enduser.li28' | translate}}</li>
  <li>{{ 'enduser.li29' | translate}}</li>
  <li>{{ 'enduser.li30' | translate}}</li>
</ul>
<p>{{ 'enduser.anyuseofthesite' | translate}}</p>

<h2>{{ 'enduser.sitemanagement' | translate}}</h2>
<p>{{ 'enduser.reservetherigth'| translate}}</p>

<h2>{{ 'enduser.privacypolicy' | translate}}</h2>
<p>{{ 'enduser.privacypolicy1' | translate}} <a [routerLink]="['/info/privacy']" target="_blank" rel="noopener noreferrer">{{ 'enduser.privacypolicy2' | translate}}</a>{{ 'enduser.privacypolicy3' | translate}}</p>
<p>{{ 'enduser.privacypolicy4' | translate}}</p>

<h2>{{ 'enduser.termandtermination1' | translate}}</h2>
<p>{{ 'enduser.termandtermination2' | translate}}</p>
<p>{{ 'enduser.termandtermination3' | translate}}</p>

<h2>{{ 'enduser.modificationsandinterruptions1' | translate}}</h2>
<p>{{ 'enduser.modificationsandinterruptions2' | translate}}</p>
<p>{{ 'enduser.modificationsandinterruptions3' | translate}}</p>

<h2>{{ 'enduser.corrections1' | translate}}</h2>
<p>{{ 'enduser.corrections2' | translate}}</p>

<h2>{{ 'enduser.disclaimer1' | translate}}</h2>
<p>{{ 'enduser.disclaimer2' | translate}}</p>

<h2>{{ 'enduser.limitations1' | translate}}</h2>
<p>{{ 'enduser.limitations2' | translate}}</p>

<h2>{{ 'enduser.indemnification1' | translate}}</h2>
<p>{{ 'enduser.indemnification2' | translate}}</p>

<h2>{{ 'enduser.userdata1' | translate}}</h2>
<p>{{ 'enduser.userdata2' | translate}}</p>

<h2>{{ 'enduser.miscellaneous1' | translate}}</h2>
<p>{{ 'enduser.miscellaneous2' | translate}}</p>
<p><a [routerLink]="'.'" fragment="ref-a" id="comment-a">[a]</a>&nbsp;{{ 'enduser.opensource' | translate}} <a href="https://github.com/DSpace/DSpace/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">https://github.com/DSpace/DSpace/blob/main/LICENSE</a></p>
</div>