<footer class="text-lg-start">
  <div class="link-container">
  <a href="https://www.youtube.com/user/IBICTbr/" target="_blank" rel="noopener noreferrer">
    <img src="assets/deposita/images/youtube.svg" alt="youtube">
  </a>
  <a href="https://www.facebook.com/IBICTbr/" target="_blank" rel="noopener noreferrer">
    <img src="assets/deposita/images/facebook.svg" alt="facebook">
  </a>
  <a href="https://twitter.com/ibictbr" target="_blank" rel="noopener noreferrer">
    <img src="assets/deposita/images/twitter.svg" alt="twitter">
  </a>
  <a href="https://www.linkedin.com/company/ibict---instituto-brasileiro-de-informa-o-em-ci-ncia-e-tecnologia/mycompany/" target="_blank" rel="noopener noreferrer">
    <img src="assets/deposita/images/linkedin.svg" alt="linkedin">
  </a>
  </div>
  <div *ngIf="showTopFooter" class="top-footer-1">
    <div class=" container p-4">
      <div class="row">
        <div class="footer-content">
          <Img src="../../assets/deposita/images/footer-logo.png">
          <ul class="list-unstyled mb-0">
            <li>
              <p class="footer-text-1">{{ 'footer.text1' | translate }}</p>
              <p class="footer-text-2">{{ 'footer.text2' | translate }}</p>              
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
