:host {
  footer {
    background-color: var(--ds-footer-bg);
    text-align: center;
    z-index: var(--ds-footer-z-index);
    border-top: var(--ds-footer-border);
    border-color: #E6E6E6;
    padding: var(--ds-footer-padding);

    p {
      margin: 0;
    }

    div > img {
      height: 60%;
    }

    .top-footer {
      background-color: var(--ds-top-footer-bg);
      padding: var(--ds-footer-padding);
      margin: calc(var(--ds-footer-padding) * -1);
    }

    .footer-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      max-width: var(--ds-container-width);
      margin: 24px auto 24px auto;
    }

    .footer-text-1 {
      color: #6A6A6A;
      font-size: 16px;
      margin-top: 16px;
    }

    .footer-text-2 {
      color: #999999;
      font-size: 16px;
    }

    /* Responsividade */
    @media (max-width: 768px) {
      footer {
        padding: 1rem;
      }

      .top-footer {
        margin: 0;
        padding: 1rem;
      }

      .footer-content {
        flex-direction: row;
        align-items: center;
        margin: 16px auto;
        max-width: 100%; 
      }

      .footer-text-1,
      .footer-text-2 {
        font-size: 14px; 
        text-align: center;
        margin-top: 8px; 
      }

      div > img {
        height: auto;
        width: 80%;
        max-width: 200px; 
      }

      .link-container {
        flex-direction: row; 
        gap: 16px; 
        padding: 16px 0; 
      }
    }
  }

  .link-container {
    background-color: #0F49BD;
    display: flex;
    justify-content: center;
    padding: 8px 0px 8px 0px;
    gap: 32px;
  }
}
