<nav [ngClass]="{'open': !(menuCollapsed | async)}" [@slideMobileNav]="!(windowService.isXsOrSm() | async) ? 'default' : ((menuCollapsed | async) ? 'collapsed' : 'expanded')"
  class="navbar navbar-expand-md navbar-light p-0 navbar-container" role="navigation" [attr.aria-label]="'nav.main.description' | translate">
  <a class="navbar-brand my-2" routerLink="/home">
    <img src="assets/deposita/images/deposita_logo.svg" [attr.alt]="'menu.header.image.logo' | translate" />
  </a>

  <div class="navbar-inner-container w-100">
    <div id="collapsingNav" class="w-100">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="(isXsOrSm$ | async) && (isAuthenticated$ | async)">
            <ds-user-menu [inExpandableNavbar]="true"></ds-user-menu>
        </li>
        <li class="nav-item d-flex align-items-center">
          <div class="text-md-center">
            <a routerLink="/community-list" class="nav-link-custom">Comunidades e Coleções</a>
          </div>
          <div class="text-md-center">

            <div class="dropdown" (mouseenter)="openDropdownNavegar()" (mouseleave)="closeDropdownNavegar()">
              <button class="btn btn-navigation dropdown-toggle">
                Navegar
              </button>
              <div *ngIf="isDropdownNavegarOpen" class="dropdown-menu show">
                <a class="dropdown-item" routerLink="/browse/author">Por Autor</a>
                <a class="dropdown-item" routerLink="/browse/areaconhecimento">Por Área do conhecimento</a>
                <a class="dropdown-item" routerLink="/browse/subject">Por Assunto</a>
                <a class="dropdown-item" routerLink="/browse/keyword">Por Palavra-chave</a>
                <a class="dropdown-item" routerLink="/browse/institution">Por Instituição</a>
                <a class="dropdown-item" routerLink="/browse/documenttype">Por Tipo de documento</a>
                <a class="dropdown-item" routerLink="/browse/language">Por Idioma de publicação</a>
                <a class="dropdown-item" routerLink="/browse/dateissued">Por Ano de publicação</a>
              </div>
            </div>

          </div>
          <div class="text-md-center">
            <div class="dropdown" (mouseenter)="openDropdownODeposita()" (mouseleave)="closeDropdownODeposita()">
              <button class="btn btn-navigation dropdown-toggle">
                O Deposita
              </button>
              <div *ngIf="isDropdownODepositaOpen" class="dropdown-menu show">
                <a class="dropdown-item" routerLink="">Apresentação</a>
                <a class="dropdown-item" routerLink="">Política do Repositório</a>
                <a class="dropdown-item" routerLink="">Cartilha de depósito</a>
              </div>
            </div>
          </div>
          <div class="text-md-center">
            <a routerLink="/info/about" class="nav-link-custom">Contatos</a>
          </div>
          <div class="text-md-center action-links">
            <ds-search-navbar></ds-search-navbar>
            <ds-lang-switch></ds-lang-switch>
            <ds-auth-nav-menu class="nav-link-enter"></ds-auth-nav-menu>
          </div>
       </li>
      </ul>
    </div>
  </div>

  <a class="navbar-brand m-2">
    <img src="assets/deposita/images/ibict_logo.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
  </a>
</nav>

