<nav [ngClass]="{'open': !(menuCollapsed | async)}" [@slideMobileNav]="!(windowService.isXsOrSm() | async) ? 'default' : ((menuCollapsed | async) ? 'collapsed' : 'expanded')"
  class="navbar navbar-expand-md navbar-light p-0 navbar-container" role="navigation" [attr.aria-label]="'nav.main.description' | translate">
  <a class="navbar-brand my-2" routerLink="/home">
    <img src="assets/deposita/images/deposita_logo.svg" [attr.alt]="'menu.header.image.logo' | translate" />
  </a>
  <div class="navbar-inner-container w-100">
    <div id="collapsingNav" class="w-100">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="(isXsOrSm$ | async) && (isAuthenticated$ | async)">
            <ds-user-menu [inExpandableNavbar]="true"></ds-user-menu>
        </li>
        <li class="nav-item d-flex align-items-center">
          <div class="text-md-center">
            <a routerLink="/community-list" class="nav-link-custom">{{ 'communityList' | translate }}</a>
          </div>
          <div class="text-md-center">
             <div class="dropdown" (mouseenter)="openDropdownNavegar()" (mouseleave)="closeDropdownNavegar()">
                <button class="btn btn-navigation dropdown-toggle">
                   {{ 'navigate' | translate }}
                </button>
                <div *ngIf="isDropdownNavegarOpen" class="dropdown-menu show">
                   <a class="dropdown-item" routerLink="/browse/author">{{ 'byAuthor' | translate }}</a>
                   <a class="dropdown-item" routerLink="/browse/knowledgearea">{{ 'byKnowledgeArea' | translate }}</a>
                   <a class="dropdown-item" routerLink="/browse/subject">{{ 'bySubject' | translate }}</a>
                   <a class="dropdown-item" routerLink="/browse/institution">{{ 'byInstitution' | translate }}</a>
                   <a class="dropdown-item" routerLink="/browse/language">{{ 'byLanguage' | translate }}</a>
                   <a class="dropdown-item" routerLink="/browse/dateissued">{{ 'byYear' | translate }}</a>
                </div>
             </div>
          </div>
          <div class="text-md-center">
             <div class="dropdown" (mouseenter)="openDropdownODeposita()" (mouseleave)="closeDropdownODeposita()">
                <button class="btn btn-navigation dropdown-toggle">
                   {{ 'deposita' | translate }}
                </button>
                <div *ngIf="isDropdownODepositaOpen" class="dropdown-menu show">
                   <a class="dropdown-item" routerLink="/info/presentation">{{ 'presentationPage' | translate }}</a>
                   <a class="dropdown-item" routerLink="/info/repository-policy">{{ 'repositoryPolicy' | translate }}</a>
                   <a class="dropdown-item" routerLink="/info/deposit">{{ 'depositGuide' | translate }}</a>
                  <a class="dropdown-item" routerLink="/statistics">{{ 'statistics' | translate }}</a>
                </div>
             </div>
          </div>
          <div class="text-md-center">
             <a routerLink="/info/about" class="nav-link-custom">{{ 'contacts' | translate }}</a>
          </div>
          
          <div class="text-md-center action-links">
            <ds-search-navbar></ds-search-navbar>
            <ds-lang-switch></ds-lang-switch>
            <ds-auth-nav-menu class="nav-link-enter"></ds-auth-nav-menu>
          </div>
       </li>
      </ul>
    </div>
  </div>

  <a class="navbar-brand m-2">
    <img src="assets/deposita/images/ibict_logo.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
  </a>
</nav>

