@import '../../../../../../../styles/variables';

.item-list-supervision {
    a {
        cursor: pointer;
        color: #0F49BD;
    }
}
.badge{
  font-size: 0.9rem;
}

.badge-primary {
  background-color: #0056b3;
  color: #ffffff; 
}
.badge-secondary {
  background-color: #6c757d; 
  color: #ffffff; 
}
.badge-success {
  background-color: #218838; 
  color: #ffffff;
}
.badge-danger {
  background-color: #c82333; 
  color: #ffffff; 
}
.badge-warning {
  background-color: #e0a800; 
  color: #ffffff;
}
.badge-info {
  background-color: #17a2b8; 
  color: #ffffff; 
}
.badge-dark {
  background-color: #343a40;
  color: #ffffff;
}
.badge-light {
  background-color: #69a9e9; 
  color: #343a40; 
}

.item-container {
  background-color: #FEFEFE;
  padding: 24px 40px 24px 40px;
  border-radius: 8px;
  margin-bottom: 10px;

  .text-divider {
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }

  .item-list-title {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #0F49BD;
    font-size: 24px;
  }

  .item-list-publisher,
  .item-list-date {
    font-style: italic;
    margin-right: 5px;
    color: #2C3238;
  }

  .item-list-authors {
    font-style: italic;
    color: #2C3238;
  }

  ::ng-deep .clamp-default-1 {
    padding: 3px 0 6px 0;
  }

  .item-list-abstract {
    margin-top: 10px;
    color: #6A6A6A;
    padding-bottom: 15px;
  }

  .tags {
    margin-top: 10px;
    justify-content: space-between;

    .infos {
      position: relative;
      height: 30px;
      top: 7px;
      background-color: #0F49BD;
      padding: 2px 7px 2px 7px;
      border-radius: 4px;
      color: white;
      margin-bottom: 10px;
    }

    .type-img {
      width: 22px;
      height: 26px;
      margin-right: 5px;
    }

    .separator {
      margin-right: 8px;
      margin-left: 8px;
      color: #2C3238;
    }

    .published {
      color: #2C3238;
      margin-right: 5px;
    }

    .acess-button {
      width: 108px;
      height: 40px;
      border: 3px solid #0F49BD;
      border-radius: 4px;
      padding: 5px 14px 5px 14px;
      color: #0F49BD;
      background-color: #FEFEFE;
      cursor: pointer;
    }
  }
}
