.container {
    h2, h3 {
      color: #343a40;
    }
  
    p {
      font-size: 1rem;
      line-height: 1.6;
      color: #495057;
  
      strong {
        color: #343a40;
        font-weight: bold;
      }
  
      em {
        font-style: italic;
        color: #007bff;
      }
    }
  
    ul {
      list-style-type: disc;
      margin-left: 20px;
  
      li {
        font-size: 1rem;
        color: #495057;
        margin-bottom: 10px;
  
        strong {
          color: #007bff;
        }
      }
    }
  
    hr {
      border-top: 2px solid #dee2e6;
    }
  }
  