<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-4">{{ 'policy.chapter4.title' | translate }}</h4>
      <p class="mb-4">{{ 'policy.chapter4.article8' | translate }}</p>
      <ul>
        <li>
          <h5 class="mb-2">{{ 'policy.chapter4.article8.item1.title' | translate }}</h5>
          <ul>
            <li>{{ 'policy.chapter4.article8.item1.a' | translate }}</li>
            <li>{{ 'policy.chapter4.article8.item1.b' | translate }}</li>
            <li>{{ 'policy.chapter4.article8.item1.c' | translate }}</li>
          </ul>
        </li>
        <li>
          <h5 class="mb-2">{{ 'policy.chapter4.article8.item2.title' | translate }}</h5>
          <ul>
            <li>{{ 'policy.chapter4.article8.item2.a' | translate }}</li>
            <li>{{ 'policy.chapter4.article8.item2.b' | translate }}</li>
            <li>{{ 'policy.chapter4.article8.item2.c' | translate }}</li>
          </ul>
        </li>
        <li>
          <h5 class="mb-2">{{ 'policy.chapter4.article8.item3.title' | translate }}</h5>
          <ul>
            <li>{{ 'policy.chapter4.article8.item3.a' | translate }}</li>
            <li>{{ 'policy.chapter4.article8.item3.b' | translate }}</li>
            <li>{{ 'policy.chapter4.article8.item3.c' | translate }}</li>
          </ul>
        </li>
      </ul>

      <h4 class="mb-4">{{ 'policy.chapter5.title' | translate }}</h4>
      <p class="mb-4">{{ 'policy.chapter5.article9' | translate }}</p>
      <ul>
        <li>{{ 'policy.chapter5.article9.paragraph1' | translate }}</li>
        <li>{{ 'policy.chapter5.article9.paragraph2' | translate }}</li>
        <li>{{ 'policy.chapter5.article9.paragraph3' | translate }}</li>
      </ul>

      <h4 class="mb-4">{{ 'policy.chapter6.title' | translate }}</h4>
      <p class="mb-4">{{ 'policy.chapter6.article10' | translate }}</p>
      <ul>
        <li>
          <h5 class="mb-2">{{ 'policy.chapter6.article10.item1.title' | translate }}</h5>
          <ul>
            <li>{{ 'policy.chapter6.article10.item1.a' | translate }}</li>
            <li>{{ 'policy.chapter6.article10.item1.b' | translate }}</li>
            <li>{{ 'policy.chapter6.article10.item1.c' | translate }}</li>
            <li>{{ 'policy.chapter6.article10.item1.d' | translate }}</li>
            <li>{{ 'policy.chapter6.article10.item1.e' | translate }}</li>
          </ul>
        </li>
        <li>
          <h5 class="mb-2">{{ 'policy.chapter6.article10.item2.title' | translate }}</h5>
          <ul>
            <li>{{ 'policy.chapter6.article10.item2.a' | translate }}</li>
            <li>{{ 'policy.chapter6.article10.item2.b' | translate }}</li>
          </ul>
        </li>
        <li>
          <h5 class="mb-2">{{ 'policy.chapter6.article10.item3.title' | translate }}</h5>
          <ul>
            <li>{{ 'policy.chapter6.article10.item3.a' | translate }}</li>
            <li>{{ 'policy.chapter6.article10.item3.b' | translate }}</li>
            <li>{{ 'policy.chapter6.article10.item3.c' | translate }}</li>
          </ul>
        </li>
      </ul>

      <h4 class="mb-4">{{ 'policy.chapter7.title' | translate }}</h4>
      <p class="mb-4">{{ 'policy.chapter7.article11' | translate }}</p>
      <p>{{ 'policy.chapter7.article12' | translate }}</p>
    </div>
  </div>
</div>
