<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <p class="mb-4">{{ 'presentation.description1' | translate }}</p>
            <p class="mb-4">{{ 'presentation.description2' | translate }}</p>
            <p class="mb-4">{{ 'presentation.description3' | translate }}</p>
            <p class="mb-4">{{ 'presentation.description4' | translate }}</p>
            <p class="mb-4">{{ 'presentation.description5' | translate }}</p>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <h5 class="mb-4">{{ 'presentation.benefits_researchers_title' | translate }}</h5>
            <ul>
                <li [innerHTML]="'presentation.benefits_researchers.item1' | translate"></li>
                <li [innerHTML]="'presentation.benefits_researchers.item2' | translate"></li>
                <li [innerHTML]="'presentation.benefits_researchers.item3' | translate"></li>
                <li [innerHTML]="'presentation.benefits_researchers.item4' | translate"></li>
                <li [innerHTML]="'presentation.benefits_researchers.item5' | translate"></li>
            </ul>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <h5 class="mb-4">{{ 'presentation.benefits_science_title' | translate }}</h5>
            <ul>
                <li [innerHTML]="'presentation.benefits_science.item1' | translate"></li>
                <li [innerHTML]="'presentation.benefits_science.item2' | translate"></li>
                <li [innerHTML]="'presentation.benefits_science.item3' | translate"></li>
                <li [innerHTML]="'presentation.benefits_science.item4' | translate"></li>
                <li [innerHTML]="'presentation.benefits_science.item5' | translate"></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5 class="mb-4">{{ 'main_criteria_title' | translate }}</h5>
            <ul>
                <li [innerHTML]="'main_criteria.item1' | translate"></li>
                <li [innerHTML]="'main_criteria.item2' | translate"></li>
                <li [innerHTML]="'main_criteria.item3' | translate"></li>
                <li [innerHTML]="'main_criteria.item4' | translate"></li>
                <li [innerHTML]="'main_criteria.item5' | translate"></li>
                <li [innerHTML]="'main_criteria.item6' | translate"></li>
                <li [innerHTML]="'main_criteria.item7' | translate"></li>
            </ul>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <p class="mb-4">{{ 'presentation.description6' | translate }}</p>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <p class="mb-4">{{ 'presentation.description7' | translate }}</p>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <p class="mb-4">{{ 'presentation.description8' | translate }}</p>
        </div>
    </div>
  
    <div class="row mt-5">
        <div class="col-md-12">
            <p class="mb-4">{{ 'presentation.contact' | translate }}</p>
        </div>
    </div>
  </div>
  