<div class="contact-container">
  <h1 class="contact-title">{{ 'contact.title' | translate }}</h1>

  <div class="contact-info">
    <p><strong>{{ 'contact.generalCoordination' | translate }}:</strong> {{ 'contact.generalCoordinationText' | translate }}</p>
    <p><strong>{{ 'contact.analysisCoordination' | translate }}:</strong> {{ 'contact.analysisCoordinationText' | translate }}</p>
    <p><strong>{{ 'contact.email' | translate }}:</strong> {{ 'contact.emailAddress' | translate }}</p>
    <p><strong>{{ 'contact.phone' | translate }}:</strong> {{ 'contact.phoneNumber' | translate }}</p>
  </div>

  <div class="team">
    <h3>{{ 'contact.team' | translate }}</h3>
    <p><strong>{{ 'contact.member1.name' | translate }}:</strong> {{ 'contact.member1.email' | translate }}</p>
  </div>
</div>
